<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Gas27.My.MySettings.GasB27ConnectionString" connectionString="Data Source=DESKTOP-JH6IF3M\SQLEXPRESS;Initial Catalog=GasB27;Integrated Security=True;Encrypt=False"
            providerName="System.Data.SqlClient" />
        <add name="Gas27.My.MySettings.Gas27ConnectionString" connectionString="Data Source=DESKTOP-JH6IF3M\SQLEXPRESS;Initial Catalog=Gas27;Integrated Security=True;Encrypt=False"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>